.root {

}

.players {
  display: flex;
}

.team {
  display: grid;
  grid-template: auto 1fr / auto 1fr;

  .poly {
    content: ' ';
    display: block;
    background: grey;
    width: 60px;
    height: 100px;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-right: 30px;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  }
}

.rooms {

}

.room {

}

.player {

}

.maps {
  display: flex;
  flex-direction: column;
}

.map {

}