@import "src/imports/colors";
@import "src/imports/consts";

.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 80vh;
  grid-row-gap: 30px;
}

.teams {
  height: 100%;
  overflow-y: auto;
}

.players {
  display: flex;
  margin-bottom: 20px;
}

.team {
  display: grid;
  grid-template: auto 1fr / auto 1fr;

  .poly {
    content: ' ';
    display: block;
    background: grey;
    width: 60px;
    min-height: 100px;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-right: 30px;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  }

  h2 > button {
    margin-left: 10px;
    font-size: 0.7em;
    border: none;
    font-variant: all-petite-caps;
  }
}

.teamReady {
  background: rgba(white, 0.05);
}

.player {
  padding: 10px;
  border: 3px solid white;
  border-radius: 20px;
  margin: 4px;
  max-width: 100px;
  overflow: hidden;

  div {
    white-space: nowrap;
  }
}

.playerReady {
  border-color: #00ee00;
}

.backButton {
  height: 45px;
  min-width: 45px;
  box-sizing: border-box;
  display: block;
  align-self: center;
  color: #ccc;
  margin-right: 10px;
  padding-right: 15px;

  &:hover {
    color: #fff;
  }

  svg {
    width: 40px;
    height: 40px;
  }
}

.toolBar {
  background: linear-gradient(0deg, black, #002);
  padding: 15px;
  display: flex;
  min-height: 100px;

  & > button {
    min-width: 160px;
    margin-right: 10px;
  }

  .ready {
    border-color: #00ee00;
    background: #00ee00;
  }

  .notReady {
    border-color: grey;
  }

  .toolBarSection {
    background: rgba(white, 0.15);
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1, h2, h3, h4 {
      margin: .1em;
    }
  }
}

.mapsWrap {
  position: relative;

  &::after {
    display: block;
    content: ' ';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: red;
    position: absolute;
    background: linear-gradient(transparent, $bg);
    pointer-events: none;
  }
}

.maps {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
  height: 100%;
}

.map {
  display: grid;
  grid-template: auto auto / 1fr auto;
  padding: 0 0 10px 10px;
  background: rgba(white, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 5px 0;
  &:hover {
    background: rgba(white, 0.14);
  }

  span {
    margin-top: 10px;
  }
}

.mapInfo {
  padding-left: 15px;
  padding-top: 4px;
}

.select {
  font-size: 19px;
  border: none;
  font-family: 'Righteous', cursive;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 0 10px;

  &:hover {
    background: #0e0;
  }
}

.play {
  background: linear-gradient(0deg, black, #002);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;

  button {
    border: none;
  }
}

.gameRoot {
}