@import "../imports/colors";

.root {
  height: 100vh;

  nav {
    z-index: 1000;
    top: 0;
    border-bottom: 1px solid rgba(white, 0.05);
    padding-left: 11px;
    display: flex;

    & > ul {
      display: flex;
      list-style: none;
      margin: 10px 0 0 0;
      align-items: flex-end;
      font-size: 20px;
      font-family: 'Righteous', cursive;

      li {
        text-align: center;
        margin: 0 10px;
        position: relative;
        top: 2px;

        a {
          display: block;
          border-bottom: 3px solid transparent;
          padding: 5px 15px;
          color: white;
          text-decoration: white;
          transition: .2s;

          &:hover, &.active {
            border-bottom: 3px solid white;
          }
        }

        @for $i from 1 through length($brand-colors) {
          $c: nth($brand-colors, $i);

          &:nth-child(#{$i}):hover > a {
            color: $c;
          }
        }
      }

    }
  }
}

.navToggle {
  display: none;
}

.fullscreen {
  nav {
    position: fixed;
    left: 0;
    transition: .2s;
    top: -100%;

    &.shown {
      top: 0;
    }

    .navToggle {
      display: block;
      background: #3f3f3f;
      height: 40px;
      width: 40px;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1000;
      border-radius: 0 0 0 50px;
      border: none;
    }
  }
}

.body {
}